.rest-detail-item-bg-container {
  width: 100vw;
  min-height: 100vh;
}
.rest-detail-item-banner {
  width: 100vw;
  background-image: url('https://ik.imagekit.io/pavanKillada/Group_7418_back_ground.png?updatedAt=1685541520165');
  background-color: #333333;
  background-size: cover;
  background-position: right;
  display: flex;
  font-family: 'roboto';
  overflow: hidden;
  justify-content: flex-start;
  margin-bottom: 30px;
}
.rest-detail-item-banner-img {
  min-height: 250px;
  min-width: 250px;
  max-height: 250px;
  max-width: 250px;
  position: relative;
  left: -40px;
  top: -30px;
  border-radius: 180px;
}
.banner-content {
  color: white;
  font-family: 'roboto';
  max-width: 600px;
  margin: 20px 20px 20px 0px;
}
.rating-cost-container {
  display: flex;
}
.rating-box {
  padding-right: 15px;
  border-right: 1px solid white;
}
.cost-box {
  padding-left: 15px;
  border-left: 1px solid white;
}
.no-margin {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.no-bm {
  margin-bottom: 0;
}
.restaurant-name {
  font-size: 25px;
  font-weight: 400;
  margin: 0;
}
.banner-content-paras {
  color: #e2e8f0;
}
.rest-detail-loader {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
}
