.rest-detail-item-bg-container {
  width: 100vw;
  min-height: 100vh;
}
.rest-detail-item-banner {
  width: 100vw;
  background-image: url('https://ik.imagekit.io/pavanKillada/Group_7418_back_ground.png?updatedAt=1685541520165');
  background-color: #333333;
  background-size: cover;
  background-position: right;
  display: flex;
  font-family: 'roboto';
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 30px;
}
.rest-detail-item-banner-img {
  min-width: 180px;
  min-height: 180px;
  max-width: 180px;
  max-height: 180px;
  border-radius: 100px;
  margin-right: 20px;
}
.banner-content {
  color: white;
  font-family: 'roboto';
  max-width: 600px;
  margin: 20px 20px 20px 0px;
}
.rating-cost-container {
  display: flex;
}
.rating-box {
  padding-right: 15px;
  border-right: 1px solid white;
}
.cost-box {
  padding-left: 15px;
  border-left: 1px solid white;
}
.no-margin {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.no-bm {
  margin-bottom: 0;
}
.restaurant-name {
  font-size: 25px;
  font-weight: 400;
  margin: 0;
}
.banner-content-paras {
  color: #e2e8f0;
}
.rest-detail-loader {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
}
.rest-details-ul {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.rest-details-banner-content {
  display: flex;
  align-items: center;
}

@media (min-width: 800px) {
  .rest-details-ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
  }
  .rest-detail-item-bg-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .rest-detail-item-banner {
    justify-content: center;
  }
  .rest-detail-item-banner-img {
    border-radius: 10px;
    min-width: 40%;
    min-height: auto;
    margin: 30px;
  }
  .rest-details-banner-content {
    width: 80%;
  }
}
