.login-bg-container {
  background-color: white;
  width: 100vw;
  min-height: 100vh;
  display: flex;
}
.login-container {
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
form {
  width: 400px;
  border-radius: 8px;
  box-shadow: 0px 8px 40px rgba(7, 7, 7, 0.08);
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo {
  width: 53px;
  height: 43px;
  margin-top: 40px;
}
.login-side-container {
  width: 50%;
  height: 100vh;
  background-image: url('https://ik.imagekit.io/pavanKillada/Rectangle_1456largeBg.png?updatedAt=1680172681595');
  background-size: cover;
  background-position: center;
}
.tasty-kitchens {
  color: #f7931e;
  font-size: 24px;
  font-style: italic;
  font-family: 'DM Sans';
  line-height: 32px;
  margin: 0;
}
.login-text {
  font-family: DM Sans;
  font-size: 25px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 30px;
}
.inputs-container {
  width: 100%;
  padding: 30px;
}
label {
  align-self: flex-start;
  font-family: DM Sans;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.01em;
  text-align: left;
}
input {
  background: #e2e8f0;
  height: 40px;
  width: 100%;
  left: 0px;
  top: 24px;
  padding: 0px 15px;
  border-radius: 2px;
  border: none;
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 20px;
}
.login-btn {
  height: 40px;
  width: 100%;
  left: 0px;
  top: 0px;
  background: #f7931e;
  border-radius: 8px;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  margin-top: 10px;
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
}
.error-msg {
  color: red;
  font-size: 15px;
  font-family: DM Sans;
  margin: 0;
  align-self: flex-start;
}
.mini-cover {
  display: none;
}

@media (max-width: 600px) {
  .login-container {
    width: 100vw;
  }
  .login-side-container {
    display: none;
  }
  .logo {
    display: none;
  }
  .tasty-kitchens {
    display: none;
  }
  .login-text {
    align-self: flex-end;
    margin-bottom: 0;
    padding-left: 30px;
  }
  .login-mini-page {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .mini-cover {
    display: block;
    width: 100%;
  }
  form {
    min-width: 100vw;
    height: 100vh;
    padding-top: 0;
  }
}
