.home-container {
  width: 100vw;
  min-height: 100vh;
}
.home-body-container {
  width: 100%;
}
.slider-container {
  width: 100%;
  margin: 0;
}
.slide-imgs {
  width: 100%;
}
.home-body-content {
  padding: 25px;
  width: 100%;
}
.content-heading {
  font-family: DM Sans;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  color: #183b56;
}
.content-para {
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: #64748b;
}
.sort-container {
  display: flex;
  color: #475569;
  flex-direction: column;
  width: 100%;
}
.sort-img {
  font-size: 18px;
  margin-right: 10px;
}
.sort-text {
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  display: flex;
  align-items: center;
}
.down-up-arrows {
  font-size: 16px;
}
select {
  border: none;
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: #475569;
  width: 100px;
  outline: none;
}
.rest-list {
  padding: 0;
  flex-wrap: nowrap;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  margin-top: 25px;
  overflow: auto;
  width: 100%;
  height: 100%;
}
.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.page-arrows {
  font-size: 20px;
  color: #334155;
}
.page-text {
  font-family: 'Bree Serif';
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  margin: 0px 15px;
}
.arrow-btns {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  display: flex;
  align-items: center;
}
.loader-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.offers-ul {
  display: flex;
}

.empty-view-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.empty-img {
  width: 50%;
  min-width: 300px;
}
.empty-head {
  color: #183b56;
  font-family: roboto;
  font-size: 20px;
}
.empty-para {
  color: #475569;
  font-size: 16px;
  font-family: roboto;
  margin: 0;
}
.sort-text-container {
  display: flex;
  align-items: center;
}

.search-input {
  padding: 10px;
  font-size: 16px;
  outline: none;
  border: none;
  background-color: transparent;
  margin-top: 20px;
  width: 100%;
}
.input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid lightgray;
  border-radius: 8px;
  font-size: 20px;
  height: 40px;
  max-width: 400px;
  margin-bottom: 20px;
}

@media (min-width: 800px) {
  .home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .home-body-container {
    width: 80%;
  }
  .home-headings-sorting-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1.5px solid #cbd2d9;
  }
  .rest-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
  }
  .sort-container {
    display: flex;
    flex-direction: column;
    width: 30%;
  }
}
