.big-nav-header {
  width: 100vw;
  background: #f8fafc;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}
.nav-logo-container {
  display: flex;
  cursor: pointer;
}
.nav-logo {
  width: 40px;
  margin-right: 10px;
}
.nav-logo-text {
  color: #f7931e;
  font-family: DM Sans;
  font-size: 20px;
  font-style: italic;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
}
.header-nav-tabs {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
}
.home-nav {
  color: #f7931e;
  font-family: DM Sans;
  font-size: 15px;
  margin-right: 30px;
  cursor: pointer;
}
.cart-nav {
  color: #334155;
  font-family: DM Sans;
  font-size: 15px;
  margin-right: 30px;
  cursor: pointer;
}
.logout-btn {
  background-color: #f7931e;
  color: white;
  font-family: 'DM Sens';
  font-size: 12px;
  padding: 7px 15px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 8px;
}
.links {
  text-decoration: none;
}
.bar-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.small-nav-header {
  width: 100vw;
  background: #f8fafc;
  padding-left: 30px;
  padding-right: 30px;

  display: none;
  justify-content: space-between;
  align-items: center;
}
.small-header-nav-tabs {
  display: none;
  align-items: center;
  list-style: none;
  padding: 0px 30px;
}
.cancel-btn {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-li {
  margin-left: auto;
}
.nav-content-container {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 700px) {
  .big-nav-header {
    display: none;
  }
  .small-nav-header {
    display: flex;
  }
  .bar {
    font-size: 25px;
    color: #231f20;
  }
  .small-header-nav-tabs {
    display: flex;
  }
}
