.footer {
  width: 100vw;
  background-color: #0f172a;
  padding: 30px;
}
.footer-logo-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-logo {
  width: 40px;
  margin-right: 10px;
}
.footer-logo-text {
  color: white;
  font-family: DM Sans;
  font-size: 20px;
  font-style: italic;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
}
.footer-para {
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  color: white;
}
.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contacts {
  font-size: 20px;
  color: white;
  margin: 10px;
}
