.price {
  color: black;
  font-size: 15px;
  font-weight: 600;
  margin-right: 20px;
}
.add-btn {
  border: 1px solid #ffa412;
  border-radius: 7px;
  background-color: transparent;
  outline: none;
  color: #ffa412;
  font-weight: 500;
  padding: 8px 12px;
  cursor: pointer;
}
.quantity-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 18px;
  width: 100px;
}
.minus-btn {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 18px;
  display: flex;
  align-items: center;
}
.plus-btn {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 18px;
  display: flex;
  align-items: center;
}
.food-item {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

@media (min-width: 800px) {
  .food-item {
    width: 40%;
  }
}
